@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Edson @ViewData["Googled"]</p>

<address>
    <strong> More Information: </strong> <a href ="google.com.br">GoogleBoy</a>
</address>
